
.courses__headding{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    color: #253131;
    font-family: Play;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.courses__desc{
    margin: 0;
    margin-bottom: 52px;
    padding: 0;
    text-align: center;
    color: rgba(37, 49, 49, 0.70);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.courses__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style: none;
}

.courses__item{
    width: 100%;
    max-width: 360px;
    height: 260px;
    background: #FFF;
    box-shadow: 0px 32px 45px 0px rgba(0, 0, 0, 0.05);
}

.courses__item + .courses__item{
    margin-left: 30px;
}

.courses__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.courses__name{
    margin: 0;
    padding: 0;
    color: #253131;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.limit{
    color: rgba(37, 49, 49, 0.70);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.left__btn ,.right__btn{
    border: 0;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background: rgba(37, 49, 49, 0.10);
}

.right__btn{
    margin-left: 32px;
}

.right__btn:active{
    background: #FDC332;
}

.left__btn:active{
    background: #FDC332;
}

.btn__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    margin-bottom: 140px;
}