
/* Poppins fonts  */

@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./Assets/Fonts/poppins-v20-latin-regular.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('./Assets/Fonts/poppins-v20-latin-500.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./Assets/Fonts/poppins-v20-latin-700.woff2') format('woff2'); 
  }

  /* Play Fonts  */
@font-face {
    font-display: swap; 
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('./Assets/Fonts/play-v19-latin-regular.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('./Assets/Fonts/play-v19-latin-700.woff2') format('woff2'); 
  }

body{
    padding:0;
    margin:0;
    font-size: 16px;
    font-family: 'Play' ,sans-serif;
}

*{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}